<!DOCTYPE html>
<html>
  <head>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>

    <div  id="bs-example-navbar-collapse-1">
      <select id="keyword" onchange="getValue()">
        <option value="">all</option>
        <option value="music">music</option>
        <option value="love">love</option>
        <option value="idea">idea</option>
        <option value="weekend">weekend</option>
        <option value="birthday">birthday</option>
        <option value="story">story</option>
        <option value="today">today</option>
        <option value="job">job</option>
        <option value="money">money</option>
        <option value="trump">trump</option>
      </select>
    </div>

    <div id="map"></div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
      var map;
      var keyword1 = ""

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2,
          center: new google.maps.LatLng(2.8,-187.3),
          mapTypeId: 'terrain'
        });
      }

      function getValue() {
        keyword1 = $('#keyword').find(":selected").val();
        initMap();
      }
        // Create a <script> tag and set the USGS URL as the source.
      (function polling(){
        setTimeout(function () {
          var jsonText = JSON.stringify(keyword1);
        $.ajax({
          url : 'ajax/getnewloc', data:jsonText,
          success: function(data){
              var temp_lat = [];
              var temp_lon = [];
              var data_points = [];
              console.log(data);
              $.each(data, function (index, element) {
                  temp_lat.push(element[1]);
                  temp_lon.push(element[0]);
              });
              for (var i = 0; i < temp_lat.length; i++) {
                data_points.push(new google.maps.LatLng(temp_lat[i], temp_lon[i]));
                var marker = new google.maps.Marker({position: data_points[i], map:map});
              }
              
          },datatype : "json", complete : polling});
      }, 5000);        
      })(); 
      console.log('xyz');

      // Loop through the results array and place a marker for each
      // set of coordinates.
      
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARE9wJiNWGGcCxhz8oNK-8CZHpMcNTChc&callback=initMap">
    </script>
  </body>
</html>